{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QVY6TFG59E"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QVY6TFG59E');
    </script>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Template">
    <title>{% block title %}{% endblock %}What's Up</title>

    <meta name="description" content="chatrealtime with friends">
    <meta name="keywords" content="chat, photo, messages, social, friends, info">
    <meta name="author" content="Benjamin Mehrez">

    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% block og-caption %}ChatRealTime{% endblock %}">
    <meta property="og:description" content="chatrealtime with friends">
    <meta property="og:image" content="{% block og-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/logo1200px.svg' %}{% endblock %}">
    <meta name="twitter:image" content="{% block tw-image %}http://{{ request.META.HTTP_HOST }}{% static 'images/logo600px.svg' %}{% endblock %}">
    

    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'images/logo.svg' %}" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
</head>
<body class="bg-gray-800  {% block class %}{% endblock %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
	
    {% include 'includes/messages.html' %}

    {% include 'includes/header.html' %}

    {% block layout %}
    {% endblock %}


    {% if user.is_authenticated %}
    <footer hx-ext="ws" ws-connect="/ws/online-status/"></footer>
    {% endif %}
    
    {% block javascript %}{% endblock %}

</body>
</html>